body {
  background-color: #f6f5f2;
  text-align: center;
  color: #31363f;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  text-align: center;
  margin: 50px auto;
}

footer {
  font-size: 13px;
}

a {
  color: #b51b75;
}

.topic {
  background-color: #f0ebe3;
  margin: 40px 110px 20px;
  padding: 40px 10px;
  box-shadow: 9px 9px 5px -1px rgba(242, 242, 242, 1);
}

.container {
  margin: 100px auto;
  max-width: 1000px;
}

.text-box {
  font-size: 15px;
  width: 400px;
  height: 40px;
  padding: 5px;
  border-radius: 20px;
  border-color: #31363f;
  border-width: thin;
}

.button {
  font-size: 15px;
  background-color: #b51b75;
  color: white;
  width: 100px;
  height: 40px;
  padding: 5px;
  margin: 10px;
  border: thin #31363f;
  border-radius: 20px;
  box-shadow: 9px 9px 5px -1px rgba(219, 210, 219, 1);
}

.quote {
  background-color: #f0ebe3;
  margin: 10px 110px 20px;
  padding: 40px 10px;
  box-shadow: 9px 9px 5px -1px rgba(242, 242, 242, 1);
  border-left: 3px solid #b51b75;
  line-height: 2;
}

.hint {
  line-height: 2;
  opacity: 0.6;
  font-size: 13px;
  margin-left: -250px;
}

.hidden {
  display: none;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
